* {
  font-family: "lucida grande", tahoma, verdana, arial, "sans-serif";
  font-size: 14px;
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

main {
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
}

.fixed {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  display: grid;
  margin-right: 20px;
  grid-template-columns: 3.5fr 0.5fr;
}

.top-search-bar {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "search location location"
    "search guest guest";
  border: 0.5px solid #ece6e6;
  border-radius: 50px;
  width: 95%;
  height: 50px;
  margin-left: 10px;
  margin-top: 15px;
}

.search-icon {
  margin: auto;
  grid-area: search;
}
.location-input {
  grid-area: location;
  font-weight: bold;
  padding-top: 7px;
}
.guest-input {
  grid-area: guest;
  color: #717171;
  font-size: 12px;
}
.filter-menu {
  margin: auto;
  border: 0.05px solid #a29797;
  border-radius: 50%;
  padding: 10px;
}
.filter {
  margin-top: 20px;
  margin-right: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li:hover {
  color: black;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.menu-list {
  margin-right: 20px;
  padding-top: 7px;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "park island countryside cabins";
}
.menu-item img {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 70%;
}
.park, .island, .countryside, .cabins {
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 12px;
  grid-area: park;
}
.island {
 
  grid-area: island;
}
.countryside {
  
  grid-area: countryside;
}
.cabins {
  
  grid-area: cabins;
}

.img-container > img {
  width: 100%;
  height: 363px;
  border-radius: 12px;
  margin-bottom: 10px;
}
.img-container {
  padding-top: 25px;
}

.card-body {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-between;
}
.description,
.availability,
.island,
.park,
.cabins,
.countryside,
.amazing-pools,
.barns,
.beachfront,
.bedandbreakfast,
.boats,
.camping,
.castles,
.caves,
.designs,
.domes,
.farms,
.houseboats,
.iconic-cities,
.lakefront,
.mansions,
.tiny-homes,
.treehouse,
.vineyard,
.yurts,
.footer-menu-list {
  color: #717171;
}
.price {
  font-weight: 550;
  margin-top: 5px;
}
.total-text {
  font-weight: normal;
  padding-left: 2px;
}
.fa-circle {
  font-size: 2px;
}

.badge {
  background-color: #fbf7f7;
  float: left;
  border: 0.05px solid #e0dbdb;
  border-radius: 14px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 500;
}
.heart-btn {
  position: absolute;
  float: right;
  color: #717171;
  margin-left: 80vw;
  margin-top: 13px;
  opacity: 90%;
  text-shadow: -2px 0 #ffffff, 0 2px #ffffff, 2px 0 #ffffff, 0 -2px #ffffff;
}

.exploring {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 15px;
  align-items: center;
}
.show-more-btn {
  background-color: rgb(38, 37, 37);
  color: white;
  border-radius: 7px;
  padding: 15px;
  width: 35%;
  font-weight: 550;
}
.exploring > h3 {
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

footer {
  background-color: #f7f7f7;
  width: 100%;
}

.footer-title {
  display: block;
  font-size: 25px;
  font-weight: 530;
  padding: 20px;
  padding-top: 30px;
}
.footer-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-menu-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.popular {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 15px;
}
.popular > div {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.popular > div > h3 {
  font-weight: 500;
  font-size: 1rem;
}
.popular > div > p {
  font-weight: 250;
  font-size: 13px;
}
.popular > .show-more {
  display: flex;
  flex-direction: row;
}
.show-more > svg {
  padding: 4px;
}

.support > h3,
.hosting > h3,
.airbnb > h3 {
  padding-left: 20px;
}

.support > .support-list,
.hosting > .hosting-list,
.airbnb > .airbnb-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.support-list-item,
.hosting-list-item,
.airbnb-list-item {
  padding: 5px;
  color: #222222;
  font-weight: 400;
  font-size: 0.875rem;
}
.copyright-currency {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.english {
  margin-left: 10px;
}
.pound-symbol {
  margin-left: 18px;
}
.gbp {
  margin-left: 3px;
}
.copyright-footer,
.sitemap-footer {
  padding: 5px;
  padding-left: 15px;
}

.copyright-currency,
.copyright-footer,
.sitemap-footer {
  color: #222222;
}
.sitemap-footer > p > i {
  margin: 3px;
  padding: 3px;
}
.sitemap-footer {
  padding-bottom: 25px;
}

.divider-top {
  position: fixed;
  border: 1.5px solid rgb(196, 194, 194);
  width: 100vw;
  margin-top: 120px;
  z-index: 1;
}
.footer-divider {
  border-bottom: 0.5px solid rgb(196, 194, 194);
  margin: 20px;
  margin-top: 10px;
}
.hide {
  display: none;
}
.popular > div.hide {
  display: none;
}
div.show {
  display: block;
}

@media (min-width: 375px) {
  * {
    font-size: 18px;
  }
  .heart-btn {
    margin-left: 83vw;
  }
  .exploring > h3 {
    font-weight: 550;
    font-size: 17px;
  }
  .show-more-btn {
    width: 45%;
    font-weight: 500;
    padding: 10;
    margin-bottom: 10px;
  }
}
@media (min-width: 425px) {
  .heart-btn {
    margin-left: 85vw;
  }
}
@media (min-width: 768px) {
  .heart-btn {
    position: absolute;
    margin-left: 42vw;
  }
  .badge {
    margin-left: 35px;
  }
  .top-search-bar {
    width: 95%;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "park island countryside cabins pools barns beachfront";
  }
  .menu-item img {
    height: 30px;
    width: 30px;
    margin: auto;
    opacity: 70%;
  }
  .amazing-pools,
.barns,
.beachfront {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 12px;
  }
  .amazing-pools{
    grid-area: pools;
  }
.barns {
  grid-area: barns;
}
.beachfront {
  grid-area: beachfront;
}
  .card {
    width: 45vw;
  }
  .img-container > img {
    width: 95%;
    height: 35vh;
    margin-left: 25px;
  }
  .img-container {
    position: relative;
  }
  .card-body {
    margin-left: 35px;
  }
  .info-group {
    margin-left: 35px;
  }
  .show-more-btn {
    margin: 10px;
    width: 25%;
  }
  .footer-menu-item {
    font-size: 0.95rem;
  }
 
  .bedandbreakfast,
  .boats,
  .camping,
  .castles,
  .caves,
  .designs,
  .domes,
  .farms,
  .houseboats,
  .iconic-cities,
  .lakefront,
  .mansions,
  .tiny-homes,
  .treehouse,
  .vineyard,
  .yurts{
    display: none;
  }
  .popular > div.show {
    display: inline;
  }

  .copyright-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .heart-btn {
    position: absolute;
    margin-left: 29vw;
  }
  .card {
    width: 30vw;
  }
  .img-container > img {
    height: 30vh;
    margin-left: 33px;
  }
  .popular {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.hide {
    display: none;
  }
  .mid-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .heart-btn {
    margin-left: 22vw;
  }
  .card {
    width: 23vw;
  }
  .img-container > img {
    height: 30vh;
    margin-left: 30px;
  }
  .popular {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .copyright-footer-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}
